<div class='card mx-auto border-0' style='width: 28rem; margin-top:5%;'>
    <h1 class=' mx-auto'>Forgot Password</h1>
    {{> message}}
    <div class='card-body'>
        <form action="/reset/passwordReset" method="POST">
            <div class='mb-3'>
                <label for='email' class='form-label'>Email</label>
                <input type='email' name='email' class='form-control' id='email' aria-describedby='emailHelp' value="user1@example.com"
                    placeholder="Enter Email" required>
            </div>

            <button type='submit' class='btn btn-primary d-block mx-auto mt-2' style="width: 26rem;">send Email</button>
        </form>

        <p class="lead mt-4">
            No Account? <a href="/users/register">Register</a>
        </p>

        <p class="lead mt">
            Have An Account? <a href="/users/login">Login</a>
        </p>
    </div>
</div>