{{!-- views/partials/navbar.hbs --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-circle-dollar-to-slot"></i>
            My Expense Tracker</a>
    </div>
</nav>